In [12]:
fd=open('data.txt','r')
txt=fd.read()
print(txt)

fd.close()

Hello Manya

I am 20 years old.

I am studying data science course from gfg.

In [13]:
txt

'Hello Manya\n\nI am 20 years old.\n\nI am studying data science course from gfg.'

In [14]:
# txt=txt.replace("\n\n",' ')

In [15]:
print(txt)

Hello Manya

I am 20 years old.

I am studying data science course from gfg.

In [17]:
par=txt.split("\n\n")

In [18]:
for i in par:
    print(i)

Hello Manya
I am 20 years old.
I am studying data science course from gfg.

# Lines

In [21]:
lines=txt.split(".")
len(txt.split("."))

3

In [22]:
len(lines[:-1])

2

# Words

In [23]:
words=txt.split(" ")
words

['Hello',
 'Manya\n\nI',
 'am',
 '20',
 'years',
 'old.\n\nI',
 'am',
 'studying',
 'data',
 'science',
 'course',
 'from',
 'gfg.']

In [24]:
len(words)

13

In [26]:
for i in range(7,21):
    txt=txt.replace(str(i),"")

In [27]:
print(txt)

Hello Manya

I am  years old.

I am studying data science course from gfg.